
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
}

h1 {
  font-family: $font-header;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-family: $font-header;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-primary;
}

fieldset {
  max-width: 500px;
  margin: 20px auto 30px;
  background-color: $color-gray;
  border-radius: 4px;
  border: 1px solid $color-accent;
}

legend {
  background: $color-gray;
  background: linear-gradient(0deg, $color-gray 50%, $color-light 60%);
}

button {
  @extend %inputs;
}

select {
  @extend %inputs;
}

input {
  @extend %inputs;

  &[type="file"] {
    padding: 0;
    margin-bottom: 10px;
  }

  &[type="radio"],
  &[type="checkbox"] {
    width: auto;
    display: inline-block;
  }

}

label {
  display: block;
  text-align: left;

  .radio &,
  .checkbox & {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

textarea {
  width: 100%;
  resize: vertical;
}

.container {
  @extend %container;
  @extend %page-block;
}

.hidden {
  display: none;
}


.page-articles {
  background-image: url(../img/articles.jpg);

  @extend %page-body;
}

.page-catalog {
  background-image: url(../img/catalog.jpg);

  @extend %page-body;
}

.page-gallery {
  background-image: url(../img/image_gallery.jpg);

  @extend %page-body;
}

.page-contacts {
  background-image: url(../img/contacts.jpg);

  @extend %page-body;
}

.page-registration {
  background-image: url(../img/registration.jpg);

  @extend %page-body;
}

.page-navigation {
  background-image: url(../img/navigation.jpg);

  @extend %page-body;
}
