
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.page-articles {
  background-image: url(../img/articles.jpg);
  @extend %page-body;
}

.page-catalog {
  background-image: url(../img/catalog.jpg);
  @extend %page-body;
}

.page-gallery {
  background-image: url(../img/image_gallery.jpg);
  @extend %page-body;
}

.page-contacts {
  background-image: url(../img/contacts.jpg);
  @extend %page-body;
}

.page-registration {
  background-image: url(../img/registration.jpg);
  @extend %page-body;
}

.page-navigation {
  background-image: url(../img/navigation.jpg);
  @extend %page-body;
}





.link {
  text-decoration: none;
  color: #f7d0ab;
  filter: none;
}

.link:hover {
  transform: scale(1.3);
  transition: 1s;
}

.menu__item {
  list-style-type: none;
  margin-right: 25px;
  color: black;
  display: flex;
}

.menu__item::after {
  content: '|';
  margin-left: 25px;
}

.menu__item_link {
  color: #fdfdfd;
  text-decoration: none;
}

.menu__item_link:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

.menu__item_last {
  margin-right: 0px;
}

.menu__item_last::after {
  content: none;
}

/* Main block & Articles */
.main {
  display: flex;
  @extend %container;
  @extend %page-block;
}




.main__news-feed__article_h2 {
  margin-bottom: 22px;
}

.main__news-feed__article_p {
  margin: 5px 0px 10px;
}

.main__article__section_h1 {
  margin-bottom: 44px;
}
.main__article__section_h4 {
  margin: 22px 0px;
}

/* Image gallery */
.image-gallery {
  display: flex;
}

.image-gallery__block1 {
  flex-basis: 15%;
}

.image-gallery__block1_list {
  list-style: none;
}

.image-gallery__block1_list_li {
  margin: 15px 0px;
}

.block1_list_li_a {
  text-decoration: none;
}

.image-gallery__block2 {
  flex-basis: 85%;
}

.image-gallery__block2_items_img {
  width: 100%;
  border-radius: 10px;
}

.image-gallery__block2_items {
  position: relative;
}

.image-gallery__block2_items_target {
  opacity: 0;
  position: absolute;
  z-index: 2;
  transition: all 0.3s 0.1s ease;
}

.image-gallery__block2_items_target:target {
  opacity: 1;
}

.image-gallery__block2_items_target:first-child {
  opacity: 1;
  z-index: 1;
}

/* Catalog */
.main__section_catalog {
  display: flex;
}

.main__section_catalog_categories {
  font-size: 22px;
}

.main__section_catalog_category {
  margin: 5px 0px;
}

.main__section_catalog_kind {
  font-size: 18px;
  padding-left: 20px;
}

/* Comment block */
.comments {
  display: flex;
  flex-direction: column;
}

.comments__header {
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.comments__header_line {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
}

.comments__header_line_text {
  margin-top: -58px;
  padding-left: 13px;
  padding-right: 13px;
  font-family: 'Zilla Slab', serif;
  font-size:25px;
  color: black;
  padding-top: 0px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.comments__header_line_text_span {
  background: #fff;
  padding: 0px 20px;
}

.comments__body {
  width: 90%;
}

.comments__body_unit {
  margin: 0px 0px 40px;
}

.comments__body_unit_flex {
  display: flex;
  margin-top: 5px;
}

.comments__body__div {
  flex-basis: 10%;
}

.comments__body_text {
  flex-basis: 90%;
}

.comments__body_unit_name {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.comments__body_unit_avatar {
  float: left;
}

.comments__body_unit_management {
  text-align: right;
}

/* Contacts */
.main__section__contacts {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}

.contacts__block1 {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.block1__address {
  flex-basis: 50%;
  font-size:18px;
}

.block1__googleMap {
  flex-basis: 50%;
}

.block2__body {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 25px;
  padding: 15px;
  background-color: #ff8800;
  border: none;
}

.block2__body_fieldset {
  font-size: 18px;
  font-weight: 600;
}

.block2__body_fieldset_name,
.registration__form_fieldset_legend {
  border: none;
  background-color: #ff8800;
  border-radius: 8px;
  color: rgb(46, 46, 46);
}

.block2__body_input {
  margin: 5px;
  width: 300px;
  height: 20px;
  border-radius: 10px;
  outline: none;
}

.block2__body_textarea,
.form_textarea { /* Registration */
  margin: 5px;
  border-radius: 10px;
  resize: none;
  outline: none;
}

/* Registration */
.registration__form {
  width: 100%;
  border-radius: 10px;
}

.registration__form_fieldset {
  width: 60%;
  margin: 5px auto;
  border-radius: 10px;
  padding: 5px;
  background: #ff8800;
  border: none;
}

.form_input {
  margin: 5px;
}

.registration__form_buttons {
  margin: 5px;
  display: flex;
}

/* Navigation */
.navigation_title {
  margin: 20px 0px;
}
