//типографика
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
}

h1 {
  text-align: center;

  font-family: $font-header;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  margin-bottom: 1em;

  text-align: center;

  font-family: $font-header;
  font-weight: 400;
}

p {
  margin: 0.5em 0;
}

a {
  text-decoration: none;

  color: $color-primary;
}

//общие классы
.container {
  @extend %container;
  @extend %page-block;
}

.page-articles {
  background-image: url(../img/articles.jpg);

  @extend %page-body;
}

.page-catalog {
  background-image: url(../img/catalog.jpg);

  @extend %page-body;
}

.page-gallery {
  background-image: url(../img/image_gallery.jpg);

  @extend %page-body;
}

.page-contacts {
  background-image: url(../img/contacts.jpg);

  @extend %page-body;
}

.page-registration {
  background-image: url(../img/registration.jpg);

  @extend %page-body;
}

.page-navigation {
  background-image: url(../img/navigation.jpg);

  @extend %page-body;
}

.google-map {
  width: 100%;
}

//работа с формой
fieldset {
  max-width: $form-width;
  margin: $gap auto;
  padding: 1em;

  border: 1px solid $color-gray-dark;
  border-radius: 4px;
  background-color: $color-gray-light;

  &:last-of-type {
    margin-bottom: 0;
  }

  p {
    margin: 0 0 1em;
  }
}

legend {
  transform: translateY(-10px);
}

button {
  @extend %input;
}

select {
  @extend %input;
}

label {
  display: inline-block;
}
input {
  @extend %input;

  &[type="file"] {
    padding: 0;
  }

  &[type="radio"],
  &[type="checkbox"] {
    width: auto;
    margin-right: 0.5em;
  }
}

textarea {
  width: 100%;
  min-height: 75px;
  max-height: 33vh;
  padding: 10px 20px;

  resize: vertical;
}

.form-group {
  &:not(:first-of-type) {
    margin: 1em 0 0.5em;
  }

  &-sm {
    margin: 0.5em 0;

    &:hover {
      outline: 2px dotted $color-accent;
    }
  }
}

.hidden {
  display: none;
}

.btn-set {
  display: flex;

  margin: 0.25em 0 0.5em;

  gap: 1em;

  .form-group {
    flex-basis: 33.33%;
    flex-grow: 1;

    margin: 0;
  }
}
