%container {
  width: 100%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%section-title {
  margin-bottom: $gap;
  padding-bottom: 1em;

  border-bottom: 1px solid $color-gray-light;
}

%page-body {
  background-position: 50% 50%;
  background-size: contain;
}

%page-block {
  min-height: 100vh;
  padding-top: $header-height + $gap * 2;
  padding-bottom: $footer-height + $gap * 2;

  text-align: justify;

  background-color: $color-light;

  font-size: 1rem;
}

%input {
  width: 100%;
  padding: 0.75em 1em;
}
