%container {
  width: 100%;
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

%section-title {
  margin-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

%page-body {
  background-position: 50% 50%;
  background-size: contain;
}

%page-block {
  min-height: 80vh;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: justify;

  background-color: $color-light;
  font-size: 1rem;
}
