.footer {
  background-color: #ff8800;

  &__copyright {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    height: 10vh;

    text-align: center;

    @extend %container;
  }
}
