.footer {
  background-color: #ff8800;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &__copyright {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    height: $footer-hight;

    text-align: center;

    @extend %container;
  }
}
