.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  background-color: $color-accent;

  &__menu {
    @extend %container;

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      min-height: $header-hight;
      padding: 0;

      list-style: none;
    }

    &-item {
      border-right: 1px solid $color-dark;

      &:last-of-type {
        border-right: none;
      }
    }

    &-link {
      position: relative;

      padding: 7.5px 15px;

      color: $color-light;

      &::after {
        position: absolute;
        right: 100%;
        bottom: 0;
        left: 15px;

        height: 2px;

        content: "";
        transition: right 0.25s;

        opacity: 0;
        background-color: $color-light;
      }

      &:hover {
        &::after {
          right: 15px;

          opacity: 1;
        }
      }

      &--active {
        color: $color-dark;
      }
    }
  }
}
