.index-menu {
  height: 100vh;
  padding-top: $header-hight;
  padding-bottom: $footer-hight;

  &__list {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
    padding: 0;
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 33.33%;
    height: 50%;

    list-style-type: none;

    transition: transform 10s ease-out;
    text-align: center;

    background-size: cover;

    &:hover {
      z-index: 1;

      transform: scale(1.1);

      box-shadow: 0 0 10px $color-dark;

      a {
        transform: translateY(-30%);
      }
    }

    &--index {
      background-image: url(../img/index.jpg);

      filter: grayscale(100%);
    }

    &--articles {
      background-image: url(../img/articles.jpg);
    }

    &--catalog {
      background-image: url(../img/catalog.jpg);
    }

    &--gallery {
      background-image: url(../img/image_gallery.jpg);
    }

    &--registration {
      background-image: url(../img/registration.jpg);
    }

    &--contacts {
      background-image: url(../img/contacts.jpg);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: transform 10s ease-out;

    color: $color-gray;
    text-shadow: 0 0 5px $color-dark, 0 0 20px $color-dark;

    font-family: $font-header;
    font-size: 50px;
    font-weight: bold;

    &--active {
      color: $color-light;
    }
  }
}
