.news {
  &__title {
    @extend %section-title;
  }

  &__article {
    margin-bottom: $gap / 3 * 4;
    padding-bottom: $gap / 3 * 2;

    border-bottom: 1px solid #eeeeee;
  }

  .news__article-description {
    margin-bottom: $gap / 3 * 2;
  }

  .news__article-title-link {
    font-weight: bold;
  }
}

.catalog {
  &__title {
    @extend %section-title;
  }

  &__categories {
    display: flex;
  }

  &__category {
    &-body {
      flex: 1 0 33%;
    }
  }
}

.gallery {
  $block-size: 180px;

  &__title {
    @extend %section-title;
  }

  &__slides {
    display: flex;

    &-list {
      flex-basis: $block-size;

      width: $block-size;
    }

    &-pictures {
      position: relative;

      flex-basis: calc(100% - #{$block-size});
      flex-grow: 1;
    }
  }

  &__slide {
    &-item {
      margin-bottom: 30px;
    }

    &-anchor {
      font-size: 1.125rem;
    }

    &-picture {
      position: absolute;
      z-index: -1;

      transition: opacity 0.5s;

      opacity: 0;

      &:first-of-type:not(:target) {
        z-index: 1;

        opacity: 1;
      }

      &:target {
        z-index: 1;

        opacity: 1;
      }
    }

    &-image {
      width: 100%;

      border-radius: 7px;
    }
  }
}

.registration {
  &__title {
    @extend %section-title;
  }
}

.contacts {
  &__title {
    @extend %section-title;
  }

  &__address,
  &__time,
  &__map {
    margin-bottom: $gap;
  }

  &__form {
    padding: ($gap / 4) ($gap / 2);

    border: 1px solid $color-gray-dark;
    border-radius: 4px;
    background-color: $color-gray-light;

    &-textarea {
      margin-bottom: $gap / 2;
    }
  }
}

.navigation {
  &__title {
    @extend %section-title;
  }

  &__menu {
    margin-bottom: $gap;
  }

  &__list {
    display: flex;

    padding: 0;

    list-style: none;
  }

  &__item {
    &::after {
      margin-right: $gap / 2;

      content: ", ";
    }
  }

  &__back2top {
    font-weight: 700;
  }
}

.page-content {
  &__title {
    @extend %section-title;
  }
}
