.page-content {
  &__body {
    margin-bottom: $gap * 2;
  }

  &__comments {
    &-title {
      margin-bottom: $gap / 2;

      font-size: 1.5rem;
    }

    &-item {
      margin-bottom: $gap;

      border-top: 1px solid $color-gray-light;
    }

    &-content {
      display: flex;
    }

    &-avatar {
      flex-basis: 75px;

      padding-right: $gap / 2;
    }

    &-image {
      width: 75px;
    }

    &-message {
      flex-grow: 1;

      margin-top: 0;
    }

    &-controls {
      text-align: right;
    }
  }
}


