$color-primary: #086fa1;
$color-accent: #ff8800;
$color-accent-light: #f7d0ab;
$color-dark: #000000;
$color-light: #ffffff;
$color-gray-light: darken(#ffffff, 7%);
$color-gray-dark: darken(#ffffff, 15%)
