@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVadyB1Wk.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVYNyB1Wk.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZdyB1Wk.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVaNyB1Wk.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZ9yB1Wk.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVa9yB1Wk.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVatyB1Wk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFoWaCi_.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFMWaCi_.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFsWaCi_.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFQWaCi_.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFgWaCi_.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFkWaCi_.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif"), local("NotoSerif"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Iaw1J5X9T9RW6j9bNfFcWaA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfRqecf1I.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfROecf1I.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfRuecf1I.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfRSecf1I.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfRiecf1I.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfRmecf1I.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfReecQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container,
.header__menu,
.footer__copyright {
  width: 100%;
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.news__title,
.catalog__title,
.gallery__title {
  margin-bottom: 30px;

  border-bottom: 1px solid #cccccc;
}

.page-articles,
.page-catalog,
.page-gallery,
.page-contacts,
.page-registration,
.page-navigation {
  background-position: 50% 50%;
  background-size: contain;
}

.container {
  min-height: 80vh;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: justify;

  background-color: #ffffff;

  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
}

h1 {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-family: "Noto Serif", serif;
  font-weight: 400;
}

a {
  text-decoration: none;

  color: #086fa1;
}

.hidden {
  display: none;
}

.page-articles {
  background-image: url(../img/articles.jpg);
}

.page-catalog {
  background-image: url(../img/catalog.jpg);
}

.page-gallery {
  background-image: url(../img/image_gallery.jpg);
}

.page-contacts {
  background-image: url(../img/contacts.jpg);
}

.page-registration {
  background-image: url(../img/registration.jpg);
}

.page-navigation {
  background-image: url(../img/navigation.jpg);
}

.header {
  background-color: #ff8800;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  min-height: 10vh;
  padding: 0;

  list-style: none;
}

.header__menu-item {
  border-right: 1px solid #000000;
}

.header__menu-item:last-of-type {
  border-right: none;
}

.header__menu-link {
  position: relative;

  padding: 7.5px 15px;

  color: #ffffff;
}

.header__menu-link::after {
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 15px;

  height: 2px;

  content: "";
  -webkit-transition: right 0.25s;
  -o-transition: right 0.25s;
  transition: right 0.25s;

  opacity: 0;
  background-color: #ffffff;
}

.header__menu-link:hover::after {
  right: 15px;

  opacity: 1;
}

.header__menu-link--active {
  color: #000000;
}

.news__article {
  margin-bottom: 40px;
  padding-bottom: 20px;

  border-bottom: 1px solid #eeeeee;
}

.news .news__article-title {
  margin-bottom: 20px;
}

.news .news__article-description {
  margin-bottom: 20px;
}

.news .news__article-title-link {
  font-weight: bold;
}

.catalog__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__category-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
}

.gallery__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__slides-list {
  -ms-flex-preferred-size: 180px;
  flex-basis: 180px;

  width: 180px;
}

.gallery__slides-pictures {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex-preferred-size: calc(100% - 180px);
  flex-basis: calc(100% - 180px);
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.gallery__slide-item {
  margin-bottom: 30px;
}

.gallery__slide-item-anchor {
  font-size: 1.125rem;
}

.gallery__slide-picture {
  position: absolute;
  z-index: -1;

  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;

  opacity: 0;
}

.gallery__slide-picture-image {
  width: 100%;

  border-radius: 7px;
}

.gallery__slide-picture:first-of-type:not(:target) {
  z-index: 1;

  opacity: 1;
}

.gallery__slide-picture:target {
  z-index: 1;

  opacity: 1;
}

.index-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  height: 80vh;
  padding: 0;
}

.index-menu__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 33.33%;
  height: 50%;

  list-style-type: none;

  -webkit-transition: -webkit-transform 15s ease-out;
  -o-transition: transform 15s ease-out;
  transition: -webkit-transform 15s ease-out;
  transition: transform 15s ease-out;
  transition: transform 15s ease-out, -webkit-transform 15s ease-out;
  text-align: center;

  background-size: cover;
}

.index-menu__item:hover {
  z-index: 1;

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.index-menu__item:hover a {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.index-menu__item--index {
  background-image: url(../img/index.jpg);

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.index-menu__item--articles {
  background-image: url(../img/articles.jpg);
}

.index-menu__item--catalog {
  background-image: url(../img/catalog.jpg);
}

.index-menu__item--gallery {
  background-image: url(../img/image_gallery.jpg);
}

.index-menu__item--registration {
  background-image: url(../img/registration.jpg);
}

.index-menu__item--contacts {
  background-image: url(../img/contacts.jpg);
}

.index-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  -webkit-transition: -webkit-transform 20s ease-out;
  -o-transition: transform 20s ease-out;
  transition: -webkit-transform 20s ease-out;
  transition: transform 20s ease-out;
  transition: transform 20s ease-out, -webkit-transform 20s ease-out;

  color: #f7d0ab;
  text-shadow: 0 0 5px #000000, 0 0 20px #000000;

  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: bold;
}

.index-menu__link--active {
  color: #ffffff;
}

.footer {
  background-color: #ff8800;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  height: 10vh;

  text-align: center;
}
